<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../lib/vant/vant.css">
    <link rel="stylesheet" type="text/css" href="../../lib/iconfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <style>
        .van-tab{
            padding: 0;
            font-size: 12px!important;
        }
    </style>
</head>
<body>
<div id="my_order" v-cloak class="flex_col_start flex_items_stretch VH100">
    <div class="header W_100 flex_shrink_0 bg_2B2B2B color_fff">
        <div class="P_4 flex_rowC relative flex_shrink_0">
            <i class="iconfont iconfanhui absolute fontS_18 PL_4" style="left: 0;" @click="goBack()"></i>
            <span class="fontS_15">我的自营订单</span>
        </div>
    </div>

    <div class="overflow_y flex_grow_1 W_100 bg_f2f2f2">
        <van-pull-refresh v-model="downLoading" @refresh="getlist">
            <van-tabs line-height="3px" :swipe-threshold="6" :border="false" background="#f2f2f2" v-model="typeactive" title-active-color="#F3CB7B" color="#F3CB7B">
                <van-tab :title="types" v-for="types in typeArry"></van-tab>
            </van-tabs>

            <!--订单-->
            <van-list
                    v-model="upLoading"
                    :finished="finished"
                    finished-text="没有更多了"
                    @load="getlist"
                    :immediate-check="false">
                <div class="PLR_4 MB_3">
                    <div class="bg_fff B_radius_5 MT_5 P_4" v-for="list in goodsList">
                        <div class="flex_row_between">
                            <div class="flex_row_left">
                                <!--<i class="iconfont iconai204 fontS_20 color_F3CB7B"></i>-->
                                <img src="../../image/logo.png" alt="" class="VW_5">
                                <div class="PL_2">{{list.shop_name}}</div>
                            </div>
                            <div class="color_F3CB7B" v-if="list.order_status==-1">已取消</div>
                            <div class="color_F3CB7B" v-if="list.order_status==0">待付款</div>
                            <div class="color_F3CB7B" v-if="list.order_status==1">待发货</div>
                            <div class="color_F3CB7B" v-if="list.order_status==2">待收货</div>
                            <div class="color_F3CB7B" v-if="list.order_status==3">已完成</div>
                            <div class="color_F3CB7B" v-if="list.order_status==5">退款退货</div>
                        </div>

                        <!--订单商品-->
                        <div class="PTB_3 flex_row_between" @click="toPage('order_detail','../frame3/order_detail.html',{'id':list.id})" v-for="item in list.goods">
                            <img :src="item.thumb" alt="" class="VW_25 VH_25 B_radius_5">
                            <div class="W_50 flex_self_start PTB_2 PL_3">
                                <div class="text_overflow_2">{{item.goods_name}}</div>
                                <div class="color_999 PT_3" v-if="item.attr_text">【{{item.attr_text}}】</div>
                            </div>
                            <div class="W_20 flex_self_start textR PT_2">
                                <div>￥{{item.goods_price}}</div>
                                <div class="color_999 PT_3">X{{item.goods_num}}</div>
                            </div>
                        </div>

                        <div class="color_F3CB7B PTB_2">根据您的消费星级：{{list.zhekou>=10?'无折扣':list.zhekou+'折'}}</div>
                        <div class="fontS_14 MT_2 flex_row_left">
                            <img src="../../image/water.png" alt="" class="VH_5 VW_5">
                            <div class="PL_3 color_999">购买成功后赠送水滴：{{list.sendgold}}个</div>
                        </div>
                        <div class="flex_row_right MT_4">
                            <div>共{{list.total_count}}件商品</div>
                            <div class="PL_2">合计：￥{{list.count_price}}</div>
                        </div>

                        <div class="flex_row_right MT_4">
                            <div class="PTB_2 PLR_5 B_radius_20 bg_F3CB7B ML_2" v-if="list.order_status==0" @click="quxiao(list.id)">取消订单</div>
                            <div class="PTB_2 PLR_5 B_radius_20 bg_F3CB7B ML_2" v-if="list.order_status==0" @click="gopay(list)">去付款</div>
                            <div class="PTB_2 PLR_5 B_radius_20 bg_F3CB7B ML_2" v-if="list.order_status==2" @click="qrsh(list.id)">确认收货</div>
                            <div class="PTB_2 PLR_5 B_radius_20 bg_F3CB7B ML_2" v-if="list.order_status==2" @click="lookwl(list.id)">查看物流</div>
                            <div class="PTB_2 PLR_5 B_radius_20 bg_F3CB7B ML_2" v-if="list.order_status==2" @click="getyuanyin(list.id);isshow=true">退款退货</div>
                        </div>
                    </div>
                </div>
            </van-list>
        </van-pull-refresh>
    </div>

    <!--提现弹框-->
    <van-popup v-model="isshow" @closed="parame={}" class="VW_100" position="bottom" round>
        <div class="PTB_5 flex_rowC BB_1_eeeeee">
            <div>退款退货</div>
        </div>

        <div class="flex_row_between BB_1_eeeeee P_4 W_100">
            <div>退款原因：</div>
            <div class="flex_row_right color_999" @click="isproject=true">
                <div>{{parame.reason?parame.reason:'请选择'}}</div>
                <i class="iconfont iconfanhui1 fontS_13 PL_2"></i>
            </div>
        </div>

        <div class="P_4 W_100">
            <div>退款说明：</div>
            <div class="B_1_eeeeee W_100 P_3 MT_3">
                <textarea v-model="parame.explain" cols="30" rows="3" class="W_100"></textarea>
            </div>
        </div>

        <div class="flex_row_between MB_5 W_80 MLR_auto">
            <div class="textC PTB_1 W_25 B_1_eeeeee borderColor_999 B_radius_5" @click="isshow=false">取消</div>
            <div class="textC PTB_1 W_25 B_1_eeeeee borderColor_999 B_radius_5" @click="oktuikuan">确认</div>
        </div>
    </van-popup>



    <!--退款原因-->
    <van-popup v-model="isproject" position="bottom">
        <van-picker :columns="projectArry" value-key="reason" :default-index="0" @confirm="gettype" @cancel="isproject=false" show-toolbar/>
    </van-popup>

</div>
</body>
</html>
<script src="../../script/api.js"></script>
<script src="../../script/const.js"></script>
<script src="../../lib/fastclick.min.js"></script>
<script src="../../lib/vue/vue.js"></script>
<script src="../../lib/vant/vant.min.js"></script>
<script src="../../script/rsa.js"></script>
<script src="../../script/aes.js"></script>
<script src="../../script/common.js"></script>
<script>
    apiready = function() {
        window.vm = new Vue({
            el: '#my_order',
            data: {
                typeactive:0,
                typeArry:['全部','待付款','待发货','待收货','已完成','退款/退货'],

                isshow:false,//退款弹框
                isproject:false,
                projectArry:[],//退款原因列表
                goodsList:[],
                page:1,
                downLoading:false,
                upLoading:false,
                finished:false,

                parame:{//退款
                    order_id:'',
                    reason:'',
                    explain:'',
                }
            },

            created:function () {
                var that = this;
                that.typeactive = api.pageParam.type;
                that.getlist();
            },

            watch:{
                typeactive:function(value) {
                    var that = this;
                    that.typeactive = value;
                    that.getlist()
                }
            },

            methods: {

                //自营订单
                getlist:function () {
                    var that = this;
                    if(that.upLoading) { //上拉加载
                        that.page ++;
                    } else{
                        that.page = 1; //刷新
                        if(that.goodsList.length>10){
                            that.finished = false;
                        }
                        that.$toast.loading({
                            mask: true,
                            loadingType:'spinner',
                            message: '加载中...'
                        });
                    }
                    // console.log(that.page);
                    that.http(orderZyorderList, 'post', {'page':that.page,'status':that.typeactive-1,'type':'zy'}, function (res) {
                        that.$toast.clear();
                        console.log(JSON.stringify(res));
                        if (res.code == 0) {
                            if(res.data.length < 16) {
                                that.finished = true;
                            }else {
                                that.finished = false;
                            }
                            if(that.upLoading) {
                                that.goodsList = that.goodsList.concat(res.data);
                                that.upLoading = false;
                            }else {
                                that.goodsList = res.data;
                                that.downLoading = false;
                            }
                        }else {
                            that.$toast(res.msg)
                        }
                    })
                },


                // 取消单
                quxiao:function(id){
                    var that = this;
                    that.$dialog.confirm({
                        message: '确定取消？'
                    }).then(function() {
                        that.http(orderCancelOrder, 'post', {'order_id':id}, function (res) {
                            console.log(JSON.stringify(res));
                            if (res.code == 0) {
                                that.$toast('取消成功');
                                that.getlist();
                            }else {
                                that.$toast(res.msg)
                            }
                        })
                    }).catch(function() {
                        // on cancel
                    });
                },


                //去支付
                gopay:function (data) {
                    var that = this;
                    that.toPage('pay','../frame1/pay.html',{
                        payname:'自营订单列表支付',
                        payId: data.payid,
                        price: data.pay_price,
                        paySite:data.paySite,
                    })
                },


                // 确认收货
                qrsh:function(id){
                    var that = this;
                    that.$dialog.confirm({
                        message: '确定收货？'
                    }).then(function() {
                        that.http(orderConfirm, 'post', {'order_id':id}, function (res) {
                            console.log(JSON.stringify(res));
                            if (res.code == 0) {
                                that.$toast('收货成功');
                                setTimeout(function () {
                                    that.typeactive = 4;
                                    that.getlist();
                                },500);
                            }else {
                                that.$toast(res.msg)
                            }
                        })
                    }).catch(function() {
                        // on cancel
                    });
                },


                //查看物流
                lookwl:function (id) {
                    var that = this;
                    that.http(orderGetExpressInfo, 'post', {'order_id':id}, function (res) {
                        console.log(JSON.stringify(res));
                        if (res.code == 0) {
                            var browser = api.require('webBrowser');
                            browser.open({
                                url: res.data.post_url
                            });
                        }else {
                            that.$toast(res.msg)
                        }
                    })
                },


                //获取退款原因
                getyuanyin:function(id){
                    var that = this;
                    that.parame.order_id = id;
                    that.http(orderCancelReason, 'post', {}, function (res) {
                        // console.log(JSON.stringify(res));
                        if (res.code == 0) {
                            that.projectArry = res.data;
                        }else {
                            that.$toast(res.msg)
                        }
                    })
                },

                //退款原因
                gettype(value,index) {
                    var that = this;
                    that.isproject=false;
                    // console.log(value)
                    // console.log(index)
                    that.parame.reason = value.reason;
                },

                //退款
                oktuikuan:function () {
                    var that = this;
                    // console.log(JSON.stringify(that.parame))
                    if(!that.parame.reason){
                        that.$toast('请选择退款原因');
                        return false;
                    }
                    if(!that.parame.explain){
                        that.$toast('请输入退款说明');
                        return false;
                    }
                    that.http(orderRefundOrder, 'post', that.parame, function (res) {
                        // console.log(JSON.stringify(res));
                        that.isshow=false;
                        if (res.code == 0) {
                            that.$toast('申请成功');
                            setTimeout(function () {
                                that.typeactive = 5;
                                that.getlist();
                            },500)
                        }else {
                            that.$toast(res.msg)
                        }
                    })
                }

            },
        })
    }
</script>




